<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p01-scagnelli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B68898DA1E34520E001942D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68898F31E34520F001942D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B68898FE1E34520F001942D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
